<form action="/add" method="post">
  <div>
    <label for="titleInput">Título</label>
    <input type="text" name="titulo" id="titleInput" />
  </div>
  <div>
    <label for="contentinput">Conteúdo</label>
    <textarea name="conteudo" id="contentinput"></textarea>
  </div>
  <input type="submit" value="Cadastrar postagem" />
</form>